.guide {
  display: flex;
  position: relative;
  width: 100%;
  overflow: auto;
  height: calc(100vh);
}

.guide__con {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.guide__swagger {
  width: 550px;
  height: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 60px 0;
}

.swagger-empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 2.5;
  text-align: center;
}

.swagger-empty .api-info-toggle {
  position: static;
}

.swagger-empty .api-info-toggle__btn {
  display: inline;
}