.api-info {
  position: relative;
  margin-top: 0;
  padding: 20px;
  background-color: #f9f4fd;
  font-weight: 400;
}

.api-info__header {
  margin-bottom: 15px;
  padding-right: 136px;
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #874ecc;
}

.api-info__con {
  font-size: 14px;
  line-height: 1.5;
}

.api-info-toggle {
  position: absolute;
  top: 12px;
  right: 20px;
}

.api-info-toggle input {
  position: absolute;
  width: 1px;
  height: 1px;
  visibility: hidden;
}


.api-info-toggle input:checked+.api-info-toggle__btn {
  width: 116px;
  background: #999;
  text-align: center;
}

.api-info__type {
  margin-right: 12px;
  display: inline-block;
  text-transform: uppercase;
}

.api-info__type.get {
  color: #61affe;
}

.outlink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 23px 35px;
  padding: 12px 0;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  box-shadow: 2px 2px 6px #00000040;
}
